Body{
    margin: 0px; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 16px;
} 
*{
    box-sizing: border-box;
}

.headerwrapper{
    background: none;
    position: fixed; 
    width: 100%;
    top: 0;
    z-index: 9; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
} 
 /*comment*/
 img {
    max-width: 100%;
 }
 

header .div1{
    text-decoration: none;  
}   
header .div1 img {
    height: 80px;
    max-width: 100%; 
    margin: 0px;
}
.div1 {
    margin-left: 50px;
}

.div2 nav {
    display: flex; 
    justify-content: space-between;  
    margin-right: 50px ;    
    
    
}
 

.div2 nav  a{
text-decoration: none; 
font-weight: 700;  
font-size: 16px;
display: flex;
justify-content: space-between; 
color: rgba(54,40,111,1);
padding: 32px ;  
} 

    
  
.div2 nav a:hover {
    color: #fff; 
    background-color: rgba(54,40,111,1); 
    border-radius: 10px;  
    align-content: center; 
    
}  




/*headerdone*/ 


.hero {
    background:#fff ;
    display: flex;  
    align-items: center;
    justify-content: space-evenly; 
    padding: 150px 20px; 
    background:linear-gradient(45deg, #6f5bbf, transparent);

} 

.divbody1{ 
    width: 50%; 
    margin-top: 10%; 
    color: #fff;
   /* color: rgba(54,40,111,1); */
}
.divbody1h1{ 
    margin-left: 100px; 
    font-size: 2em; 
    
} 
 .divbody1p { 
    margin-left: 120px;
    font-size: 1em;
 }

 /* section 1 done */
.divbody2 {
    width: 50%; 
    
}
 
.divbody2 img {
    max-width: 100%; 
    margin-right: 100px; 
}

.section2 {
    background: #ffff;
    margin: 0%; 
    padding: 5%; 
    
} 

.section2div {
    margin: 0px ; 
    height: auto; 
    overflow: auto;
}
.section2div h1 {
    display: flex; 
    justify-content: center;  
    font-weight: 800; 
    color: #36286f;
    font-size: 1.5em; 
    margin-top: 20px;
} 
.section2div p {
    display: flex;
    justify-content: center;  
    font-size: 0.90em;
}
 
.section3 {
    display: flex; 
   margin: 25px;
    transition: all 0.5s ease-in;

}  

.section3 div {
    margin: 25px; 
    padding: 10px; 
    background: rgb(251,251,252);
        transition: all .15s ease; 
        border-radius: 20px;
} 
.section3 div:hover{
    background: rgb(251,251,252);
    background:linear-gradient(45deg, #6f5bbf, transparent);
    transition: all 0.7s ease;
}

.section3 h1 {
    display: flex; 
    justify-content: center;
    align-items:center; 
    color: #36286f;

} 

.section3 p {
    display: flex; 
    align-items: center; 
    line-height: 30px;
}  
.divh1 {
    background: #7b5bfc;   
    background: linear-gradient(90deg, rgba(54,40,111,1) 13%, rgba(123,91,252,1) 100%);
    color: #f7f7fa;
    display: flex; 
    justify-content: center; 

}

.section4 {  
    background:linear-gradient(45deg, #6f5bbf, transparent);
    transition: all .15s ease;
    overflow: auto; 
} 

.serviceswrapperfinal{
    display: flex;  
    flex-direction: row;
    justify-content:space-between; 
    align-items: center; 
    width: 100% ;
    font-size: .70em;

} 
 
.fin1 {
    width: 50%; 
    display: flex; 
    flex-direction: column; 
    align-content: center; 
    padding: 8%;

}  
.fin1 h2 {
    display: flex;
    justify-content: center;
    align-items:center;  
    color: #36286f;
} 

.fin1 p{
    display: flex; 
    padding: 2%; 
    font-size: 17px;
}
.fin2{
    width: 25%;   
}   
 
.fin2 div{
    margin: 25px; 
    background: #ffff; 
    padding: 10px;   
    border-color:#fff;  
    border-radius: 30px; 
    
}   
.fin2 div img{
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40%; 
    color: #36286f;
}
.fin2 div h3 {
font-size: 1em; 
color: #36286f; 
display: flex; 
justify-content: center; 
margin-top: 30px;

}
.fin2 div p{ 
    display: flex; 
    justify-content: center;
    font-size: 0.80em; 
    line-height: 15px; 
    text-align: center;
}
.fin3 {
    width: 25%;
} 

.fin3 div{
    margin: 25px; 
    background: #ffff; 
    padding: 10px;   
    border-color:#fff;  
    border-radius: 30px; 
} 

.fin3 div h3{
    font-size: 1em; 
color: #36286f; 
display: flex; 
justify-content: center; 
margin-top: 30px;
} 

.fin3 div p{ 
    display: flex; 
    justify-content: center;
    font-size: 0.80em; 
    line-height: 15px; 
    text-align: center;
} 

.fin3 div img{
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40%; 
    color: #36286f;}  
     
    

    /* Our services section starting */ 
      
    .services-heading{
        display: flex; 
        justify-content: center; 
        margin-top: 20px; 
        color: #36286f; 
        
    } 
    .services-heading h2{
        font-size: 40px;
    } 

    .flex-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
        margin: 35px;
        gap: 20px; 
        margin-top: 100px;
    } 

    .col-33 {
        width: calc(100% / 3 - 14px); 
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        border:#6f5bbf solid 1px; 
    } 

    a.btn {
        display: inline-block;
        background: #e0d6ff;
        padding: 10px 30px;
        font-size: 20px;
        text-decoration: none;
        color: #000;
        font-weight: 700;
        border-radius: 10px;
    } 

    .productContent p{
        font-size: 1.2em; 
        line-height: 30px; 
        color: #36286f; 
        font-weight: 500; 
        margin: 10px;
    } 

/*testimonial section*/ 

.slider-container {
    position: relative;
    width: 800px;
    margin: 0 auto;
  }
  .slider {
    display: flex;
    overflow: hidden;
  }
  .slide {
    flex-shrink: 0;
  }
  .slide img {
    display: block;
    width: 100%;
    height: auto;
  }
  .prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 2rem;
    color: #fff;
  }
  .prev-btn {
    left: 0;
  }
  .next-btn {
    right: 0;
  }
  